@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f8f9fa;
}

.home-page-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.home-page-container {
  width: 50%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.home-page-container>img {
  border-radius: 50%;
}

.home-page-button {
  margin: 0 10px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

.login-form-input-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-input {
  margin: 10px;
  width: 60%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #CBD3D8;
  border-radius: 5px;
  align-self: center;
  font-size: 16px;
}

.login-form-input,
select {
  box-sizing: border-box;
}

.advertiser-dashboard-parent {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.advertiser-sidebar {
  height: 100vh;
  flex: 1;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.advertiser-sidebar>img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 0 20px
}

.advertiser-sidebar-nav>h2 {
  color: #fff;
  padding: 20px 25px;
  cursor: pointer;
}

.advertiser-sidebar-nav>h2:hover {
  color: grey;
}

.advertiser-main-body {
  height: 100vh;
  margin: 0;
  flex: 4;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* For WebKit browsers */
.advertiser-main-body::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.advertiser-main-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
}

.advertiser-main-body::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scroll thumb */
  border-radius: 10px;
  /* Optional: rounded corners */
}

.advertiser-main-body::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scroll thumb on hover */
}

.navbar {
  top: 0;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  background-color: #222222;
}

.nav-user-details {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
}

.nav-user-details>img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 15px;
}

.grid-tool-bar {
  justify-content: end;
}

.highlightContainer {
  display: flex;
  flex-direction: 'row';
  justify-content: 'space-between'; 
  align-items: 'center';
  gap: 20px;
}

.highlightItem {
  flex: 1;
  background-color: #fff;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.highlightTextLarge {
  font-weight: 500;
}
