@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f8f9fa;
}

.home-page-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.home-page-container {
  width: 50%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.home-page-container>img {
  border-radius: 50%;
}

.home-page-button {
  margin: 0 10px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

.login-form-input-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-input {
  margin: 10px;
  width: 60%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #CBD3D8;
  border-radius: 5px;
  align-self: center;
  font-size: 16px;
}

.login-form-input,
select {
  box-sizing: border-box;
}

.advertiser-dashboard-parent {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.advertiser-sidebar {
  height: 100vh;
  flex: 1;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.advertiser-sidebar-column>img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 20px
}

.advertiser-sidebar-nav>h3 {
  color: #fff;
  padding: 10px 25px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown>a {
  text-decoration: none;
  color: #fff;
  font-size: 1.15em;
  padding-right: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: yellow;}

.advertiser-sidebar-nav>h3:hover {
  color: grey;
}

.advertiser-main-body {
  height: 100vh;
  flex: 5;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* For WebKit browsers */
.advertiser-main-body::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.advertiser-main-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
}

.advertiser-main-body::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scroll thumb */
  border-radius: 10px;
  /* Optional: rounded corners */
}

.advertiser-main-body::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scroll thumb on hover */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  /* background-color: #222222; */
  background-color: #000;
}

.nav-user-details {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
}

.nav-user-details>img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 15px;
}

.grid-tool-bar {
  justify-content: end;
}

.highlightContainer {
  display: flex;
  flex-direction: 'row';
  justify-content: 'space-between';
  align-items: 'center';
  gap: 20px;
}

.highlightItem {
  flex: 1;
  background-color: #fff;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.highlightItem>h1 {
  display: flex;
  float: left;
  width: 100%;
  justify-content: left;
  align-items: center;
}

.highlightTextLarge {
  font-weight: 500;
}

.advertisement-dashboard-header {
  display: flex;
  width: 100%;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px 0;
}

.create-button {
  margin: 0 10px;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

.swal-wide {
  width: 50vw !important;
}
.swal2-textarea, .swal2-input {
  width: 80% !important;
}

.file-upload-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid #111;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
}

.file-upload-label:hover {
  background-color: #888;
  border-color: #888;
}

.file-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-upload-text {
  margin-right: 10px;
}

.inventory-publishers-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-basis: 33.33%;
  justify-content: space-evenly;
}

.inventory-grid-card {
  margin: 10px;
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  width: 28%;
  max-width: 800px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  cursor: pointer;
}
